@font-face {
	font-family: 'Blacksword';
	src: url('Blacksword.otf'); 
}

@font-face {
	font-family: 'Cardo';
	src: url('cardo-regular.woff'); 
	
}
h1 {
	font-size: 4em;
	font-family: 'Blacksword';
	text-indent: 0px;
	text-align: center;
}

h2 {
	font-size: 2.5em;
	font-family: 'Blacksword';
	word-spacing: 25px;
	text-indent: 0px;
}

h3 {
	font-size: 1.5em;
	font-family: 'Blacksword';
	word-spacing: 10px;
	text-indent: 0px;
}

p {
	font-size: 1.4em;
	font-family: 'Cardo';  
}
	

body {
	line-height: 50px;
	text-indent: 25px;
	width: 50%;
	min-width: 800px;
	padding-top: 40px;
	background-image: url('bunting.png');
	background-attachment:scroll;
	background-repeat: repeat-x;
	background-color: rgb(251 250 241);
	margin-right: auto;
	margin-left: auto;
	text-transform: unset;
}

.antoine {
	text-align: right;
	font-size: 1em;
}

.citation {
	font-size: 1.5em;
	text-align: center;
}

footer {
	font-size: 8px;
	line-height: normal;
	text-indent: normal;
	text-align: center;
}

.trois-w {
	height: 40px;
}

.color {
	color: rgb(211 211 211);

